* {
    border: 0.7px solid rgba(255,0,0,0.0);
}

html {
	background-image: url(../images/original.jpeg);
	background-size: 2400px;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;

}


.row-top {
	width: 100%;
	height: 150px;
	display: block;



}

.row-top-column-1st {
	height: 100%;
	width: 100%;
	
}

.row-top-column-2nd {
	height: 100%;
}

.header-title {
	margin-top: 50px;
	text-align: center;
	color: white;
	text-shadow: black;
	white-space: nowrap;
}

.row-top-column-3rd {
	height: 100%;
}

.row-break {
	height: 15px;
	background-color: #dddddd;
}

.row-main {
	height: 600px;

}

.row-main-column-1st {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.welcome-text {
	color: white;
	text-align: center;
}

.row-main-column-2nd {
	width: 100%;
	height: 100%;
	padding: 20px;
	
}

.paragraph {
	color: white;
}

.row-main-column-3rd {
	width: 100%;
	height: 100%;
	padding: 20px;

}

.row-button-2 {
	float: center;
	margin-top: 10px;

	width: 100%;
	height: 10%;
	display: flex;
}

.blog-button {
	width: 50px;

	margin-top: 10px;
	margin-left: 0px;
	padding: 0px;
	color: white;
	border-color: white;
}

#logo-github {
	background-image: url(../images/github-logo.png);
	display: block;
	margin-left: 10px;
	margin-top: 4px;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
}


.row-text-contents {
	height:5%;
	width: 100%;
}

.header-contents {
	margin-top: 0px;
	text-align: left;
	color: white;
	height:100%;
}

.footer-end {
	height:100px;

}

@media (max-width: 550px) {

html {
	background-image: url(../images/original.jpeg);
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height:100%;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: stretch;
    background-blend-mode: darken;

}

.row-top {
	width: 100%;
	height: 50px;
}

.row-top-column-3rd {
	width: 30%;

}

.header-title {
	margin: 0px;
	margin: 10px;
}

.welcome-text {
	font-size: 100%;
}

.row-top-column-2nd {
	width: 40%;
}

.header-title {
	font-size: 6vw;
	margin-bottom: 5px;
	text-align: center;
	text-anchor: end;
	text-shadow: black;
	display: block;
}

.row-top-column-3rd {
	width: 30%;

}

.row-break {
	height: 15px;
}

.row-main {
	height: 600px;
}

.row-main-column-1st {
	width: 100%;
	height: 6%;
	padding: 10px;

}

.row-main-column-2nd {
	width: 100%;
	height:37%;
	padding: 10px;
}

.paragraph {
	text-align: center;
}

.row-main-column-3rd {
	width: 100%;
	height: 0%;
	padding: 0px;
}

.row-button-2 {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	height:20%;
	display: flex;
}

.header-contents {
	height: 24px;
	text-align: center;
}

.blog-button {
	width: 50px;
	margin-top: 30px;
	margin-left: 10px;
	padding: 0px;
	color: white;
	border-color: white;
}

#logo-github {
	background-image: url(../images/github-logo.png);
	display: block;
	margin-left: 10px;
	margin-top: 25px;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
}




}